@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fade-in-down {
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.carousel-container {
  /* Adjust these as per your design requirements */
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.carouselContainer {
  direction: rtl;
}

.parallax-img {
    background-image: url("../public/images/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.minus-navbar {
    height: calc(100vh - 64px);
  }